@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

body {
  background: linear-gradient(90deg, #877403, #efcc05);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.screen {
  background: linear-gradient(90deg, #ffbf00, #ffbf00);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #fff815;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #f9e061;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #f9e061, #f9e061);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #f49d1a;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login {
  width: 350px;
  padding: 30px;
  padding-top: 26px;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: #7875b5;
}

.login__input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.bold__text {
  border: none;
  background: none;
  font-weight: 700;
  width: 400px;
  transition: 0.1s;
}

.bold__text__tooltip {
  border: none;
  background: none;
  font-weight: 700;
  width: 400px;
  transition: 0.1s;
  font-size: 13px;
  cursor: pointer;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #f9e061;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 8px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 65%;
  color: #f49d1a;
  box-shadow: 0px 2px 2px #f49d1a;
  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #fff815;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #ffbf00;
}

.social-login {
  position: absolute;
  height: 120px;
  text-align: center;
  bottom: 0px;
  left: 15px;
  color: #fff;
}

.social-login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10 0px;
}

.social-login-container p {
  text-align: left;
  color: black;
  font-weight: bold;
  width: 60%;
}

.title {
  font-weight: bold;
  font-size: 30px;
  padding: 100px 40px 0 40px;
}

.stat-title {
  color: #ffbf00;
}

.tooltip__svg {
  width: 4%;
  height: auto;
  padding: 0px;
  border: 0px;
  margin: 0px;
  border: none;
  background: none;
  transition: 0.1s;
  cursor: pointer;
}
